<% layout('layouts/boilerplate')%>

        <div class="alert alert-danger p-5" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <% if (process.env.NODE_ENV !== 'production') { %>
            <p class="mb-0 overflow-auto"><%= err.stack %></p>
            <% } %>
            <div class="card-footer mt-4">
                <a href="javascript:history.back()">Back</a>
            </div>
        </div>

